li{
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    border: 1px solid black;
}
.green{
    color: green;
}
.red{
    color: red;
}
.blue{
    color: blue;
}